
body {
  background-image: url("assets/laptop.jpg");
  background-size: cover;
}

.navbar {
  margin-bottom: 0;
  background-color: transparent;

  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  letter-spacing: 4px;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #ffffff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #feeafa !important;
  background-color: #8e9aaf !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #000 !important;
}
